<p class="px-6 d-flex justify-content-center justify-content-md-end">
    <a href="#main">Retour au contenu principal</a>
</p>
<footer role="contentinfo" class="footer py-8 pt-md-11 bg-dark text-white-80">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-4">

                <div class="h2 mb-1 rsl-logo" aria-label="Roselle">
                    <img src="../img/logo_roselle_white.png" alt="logo Roselle" height="70" width="200" />
                </div>

                <p>Développeuse web indépendante, je contribue au développement de l’application web de votre entreprise ou de celle de votre client·e.</p>

                <p><a href="https://www.linkedin.com/in/chloe-briquet/" aria-label="Me contacter">Me contacter</a></p>
            </div>
            <div class="col-6">

                <h2 class="h6 text-uppercase text-white mb-3 mb-md-5 mt-md-3">
                    Plan du site
                </h2>

                <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="/#a-propos">À propos</a>
                    </li>
                    <li class="mb-3">
                        <a href="/#interets">Centres d’intérêt</a>
                    </li>
                    <li class="mb-3">
                        <a href="/#travailler-autrement">Travailler autrement</a>
                    </li>
                    <li class="mb-3">
                        <a href="/developpement-ecoresponsable">Développement écoresponsable</a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="bg-white-10 my-7">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md">

                <ul class="list-inline list-unstyled small mb-md-0">
                    <li class="list-inline-item">
                        Une création <a href="/" aria-label="Roselle : Page d'accueil">Roselle</a> - 2024
                    </li>
                    <li class="list-inline-item ms-md-8">
                        <a href="/mentions-legales">Mentions légales</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
