$gray-100: #fff4f1 !default;
$gray-200: #ebd3cd !default;
$gray-300: #d6b2a9 !default;
$gray-500: #ac8880 !default;
$gray-600: #82645f !default;
$gray-800: #3c3134 !default;
$gray-900: #2e2a2f !default;
$black: #20232a !default;

$primary-dark: #384526 !default;
$primary: #43522d !default;
$primary-light: #4d5e34 !default;
$success: #15634c !default;
$info: #4b596e !default;
$warning: #7d4e09 !default;
$danger: #b01207 !default;
